.square-free {
  height: 150px;
  width: '100%';
  background-color: #ccffc4;
  margin: 5px;
  font-size: 12px;
}

.square-busy {
  height: 150px;
  width: '100%';
  background-color: #f48c89;
  margin: 5px;
  font-size: 12px;
}